# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# virtual environment
.venv/
env/
venv/
ENV/

# pip cache
pip-log.txt
pip-delete-this-directory.txt

# mypy cache
.mypy_cache/
.dmypy.json

# pyre type checker
.pyre/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# --- Docker ---
# Docker build files
*.tar
docker-compose.override.yml

# --- Docker volumes / DB data ---
postgres_data/
*.sqlite
*.db

# --- IDE / editor ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --- Environment files ---
.env
.env.*.local

# --- Logs ---
*.log